.Title {
  max-width: 1200px;
}

.BackHome {
  text-decoration: none;
  transition: text-shadow 0.25s linear;
  margin-left: calc(var(--spacer-px) * -4);
}

.Layout {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.BackHome:hover {
  animation: wiggle 0.75s ease-in-out infinite;
  text-shadow: 5px 5px 5px rgba(128, 128, 128, 0.226);
}

@keyframes wiggle {
  50% {
    transform: translateX(-15px);
  }
}

.AppearanceButton svg {
  pointer-events: bounding-box;
}

.AppearanceButton {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
}

.Icon {
  font-size: 0;
}
.Icon path,
.Icon circle {
  stroke: var(--color-foreground);
}
