.Container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ContainerMedium {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ContainerLarge {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.Page img {
  max-width: 100%;
  height: auto;
  background-color: ghostwhite;
}
