html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: Reader, sans-serif;
  font-size: 16px;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CSS Variables */
  --padding: 1.5rem;
  --sidebar-width: 80px;
  --nav-display: none;
  --main-max-width: 31.666rem;
  --h1-font-size: 2.5rem;
}

@media (min-width: 769px) {
  html {
    font-size: 24px;

    /* CSS Variables */
    --h1-font-size: 1.666rem;
    --sidebar-width: 13.333rem;
    --nav-display: block;
  }
}

@media (min-width: 1243px) {
  html {
    font-size: 30px;
  }
}

main {
  position: relative;
  padding: var(--padding);
  font-size: var(--padding);
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.1;
}

main * {
  margin-bottom: 0;
}

main *:first-child {
  margin-top: 0;
}

main > * + * {
  margin-top: var(--padding);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 0;
  padding: 0;
}
