@font-face {
  font-family: "nm";
  src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nm";
  src: url("/fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooth: grayscale;
  font-family: nm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --maxSize: 1440;
  --minSize: 320;
  --spacerMin: 10;
  --spacerMax: 16;
  --spacer: clamp(
    calc(1px * var(--spacerMin)),
    calc(
      (1px * var(--spacerMin)) + (var(--spacerMax) - var(--spacerMin)) *
        ((100vw - (1px * var(--minSize))) / (var(--maxSize) - var(--minSize)))
    ),
    calc(1px * var(--spacerMax))
  );
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.wideText {
  font-weight: normal;
  text-transform: uppercase;
  --stretch: 1.25;
  transform: scaleX(var(--stretch));
  width: calc(100% / var(--stretch));
  transform-origin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

/* Theme & Theme buttons */

@media (prefers-color-scheme: light) {
  .btnLightMode {
    display: none !important;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000000;
    --color-foreground: #ffffff;
  }
  .btnDarkMode {
    display: none !important;
  }
}

html[data-mode="light"] {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

html[data-mode="dark"] .btnDarkMode {
  display: none !important;
}
html[data-mode="dark"] .btnLightMode {
  display: grid !important;
}

html[data-mode="light"] .btnLightMode {
  display: none !important;
}
html[data-mode="light"] .btnDarkMode {
  display: grid !important;
}

html[data-mode="dark"] {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-accent: #32ffd3;
}

/* Selection Color */

::selection {
  background: #3d1be2; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #3d1be2; /* Gecko Browsers */
  color: white;
}

/* Focus States */
:focus {
  outline: 2px dashed var(--color-foreground);
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px dashed var(--color-foreground);
}

.code-wrapper {
  width: 100%;
  overflow: auto;
  border-radius: 4px;
  background-color: #011627;
}

body code:not([class*="hljs"]) {
  font-size: 0.75em !important;
  background: linear-gradient(to bottom right, #fafafa, #dadada);
  color: black;
  padding: 6px 6px;
  line-height: 1;
  font-family: "Space Mono", Courier, monospace;
  border-radius: 3px;
  display: inline-block;
}

body code {
  font-size: 1em !important;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}
