@font-face {
  font-family: "nm";
  src: url("/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nm";
  src: url("/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  height: -webkit-fill-available;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family: "nm", sans-serif;
  /* color: #1d90ff;
  color: #1d42ff; */
  --accent: #3d1be2;
}

:root {
  --color-background: white;
  --color-foreground: black;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

main {
  --font-size-mobile: 18;
  --font-size-desktop: 40;
  --container-mobile: 440;
  --container-desktop: 940;
  --spacing-mobile: 20;
  --spacing-desktop: 40;

  /* fluid container */
  --c-mobile: calc(var(--container-mobile) * 1px);
  --c-desktop: calc(var(--container-desktop) * 1px);
  --c-difference: calc(var(--container-desktop) - var(--container-mobile));
  --container: clamp(
    var(--c-mobile),
    var(--c-mobile) + var(--c-difference) * ((100vw - 375px) / 1065),
    var(--c-desktop)
  );
  max-width: var(--container);

  /* Fluid Type */
  --size-mobile: calc(var(--font-size-mobile) * 1px);
  --size-desktop: calc(var(--font-size-desktop) * 1px);
  --difference: calc(var(--font-size-desktop) - var(--font-size-mobile));
  --font-size: clamp(
    var(--size-mobile),
    var(--size-mobile) + var(--difference) * ((100vw - 375px) / 1065),
    var(--size-desktop)
  );

  --line-height-mobile: calc(var(--font-line-height-mobile) * 1px);
  --line-height-desktop: calc(var(--font-line-height-desktop) * 1px);
  --lh-difference: calc(
    var(--font-line-height-desktop) - var(--font-line-height-mobile)
  );
  --line-height: clamp(
    var(--line-height-mobile),
    var(--line-height-mobile) + var(--lh-difference) * ((100vw - 375px) / 1065),
    var(--line-height-desktop)
  );
  font-size: var(--font-size);
  line-height: var(--line-height);

  /* Fluid spacing */
  --space-mobile: calc(var(--spacing-mobile) * 1px);
  --space-desktop: calc(var(--spacing-desktop) * 1px);
  --spacing-difference: calc(var(--spacing-desktop) - var(--spacing-mobile));
  --spacing: clamp(
    var(--space-mobile),
    var(--space-mobile) + var(--spacing-difference) * ((100vw - 375px) / 1065),
    var(--space-desktop)
  );
  padding: var(--spacing);
  display: grid;
  gap: var(--spacing);
  place-content: start normal;
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}

.bi {
  font-weight: 700;
  font-style: italic;
}

hr {
  border: none;
  height: 3px;
  background-image: repeating-linear-gradient(
    33deg,
    white 0px,
    white 8px,
    black 8px,
    black 16px
  );
}

h2 {
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}
